* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
}

header {
    background: #007bff; /* Gris oscuro */
    color: #e0e0e0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header h1 {
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.1em;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: #1f1f1f; /* Gris oscuro */
    margin-bottom: 20px;
    color: #e0e0e0;
}

.hero .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff; 
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background: #1f1f1f; /* Gris oscuro */
    padding: 2rem 0;
    text-align: center;
}

.contact .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2rem;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #e0e0e0;
}

.contact .form-group {
    margin-bottom: 1rem;
}

.contact label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e0e0e0;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #444; /* Borde oscuro */
    border-radius: 5px;
    background-color: #333; /* Fondo de los campos */
    color: #e0e0e0; /* Texto claro en los campos */
}

.contact button {
    background: #007bff; /* Verde más oscuro */
    color: #e0e0e0;
    padding: 0.5rem 1rem; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background: #004d40; /* Verde más oscuro en hover */
}

footer {
    background: #1f1f1f; /* Gris oscuro */
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
